header{
    position: fixed;
    width: 100%;
    height: 100px;
    background: var(--light);
    display: flex;
    gap: 10px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 0px 10px 0px,
                rgba(100, 100, 111, 0.1) 0px 0px 3px 0px;
}
.logo{
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px,
                rgba(100, 100, 111, 0.1) 0px 4px 3px 0px;
}
.logo > img{
    height: 70px;
}
.section-title{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
    margin-left: 30px;
}
.today-date{
    margin: 0px auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Jost-medium;
}
.profile{
    margin-right: 30px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.profile--image {
    width: auto;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    gap: 10px;
}
.profile--image > img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.profile--menu{
    position: absolute;
    top: 120px;
    width: fit-content;
    padding: 10px;
    background: var(--light);
}
.profile--menu a{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    background
}

nav{
    position: fixed;
    top: 100px;
    width: 250px;
    height: calc(100vh - 100px);
    padding: 50px 20px 0px 20px;
    background: var(--light);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 12px 10px 0px,
                rgba(100, 100, 111, 0.1) 0px 4px 3px 0px;
}

.icon{
    width: 40px;
    height: 40px;
    fill: var(--gray);
}