/* import the Poppins font with all the necessary weights */
@font-face {
    font-family: Poppins-bold;
    src: url(fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins-medium;
    src: url(fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-light;
    src: url(fonts/Poppins/Poppins-Light.ttf);
}
/* import the Jost font with all the necessary weights */
@font-face {
    font-family: Jost-bold;
    src: url(fonts/Jost/Jost-Bold.ttf);
}
@font-face {
    font-family: Jost-medium;
    src: url(fonts/Jost/Jost-Medium.ttf);
}
@font-face {
    font-family: Jost;
    src: url(fonts/Jost/Jost-Regular.ttf);
}
@font-face {
    font-family: Jost-light;
    src: url(fonts/Jost/Jost-Light.ttf);
}
:root{
    --dark: #1b2149;
    --secondary: #7b57df;
    --light-secondary: #9747ff23;
    --light: #ffffff;
    --gray: #797d94;
    --red: #eb5769;
    --green: #5dc983;
    --yellow: #f2af4c;
    --bg-color: #f7f7fd;

    font-family: Poppins;
    color: var(--dark);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--light);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark); 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::selection{
    background: var(--dark);
    color: var(--light);
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
}
@keyframes fadeIn {
    0%{
        opacity: 0;
        margin-top: -20px;
    }
    100%{
        opacity: 1;
        margin-top: unset;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        margin-top: -20px;
    }
}
